/* Make sure you specify a "height: 100vh", "width: 100vw", and "margin: 0" for all your pages */
body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	display: flex;
}

/* You should know what the class does just by looking at the name (the name should be DESCRIPTIVE) */
.column {
	display: block;
	height: 100%;
	width: calc(100%/3);
}

.box {
	display: block;
	height: 50%;
	width: 100%;
}

.blue {
	background-color: #00416A;
}

.btn {
  background-color: #000;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}

.btn:hover {
	opacity: 1
}

.grow {
	transition: all .2s ease-in-out;
}

.grow:hover {
	transform: scale(1.2);
}

/* Use this class on your image to restrict the size so it stays completely within it's parent div */
.restrict-img-size {
	max-height: 100%;
	max-width: 100%;
}
.center-content {
	display: flex;
	align-items: center;
	justify-content: center;
}